// this command will update css file in realtime as edits are made to sass file
// sass --watch src/stylesheets:src/stylesheets
// or a one time command: sass src/stylesheets/index.sass:src/stylesheets/index.css

// global variables
$webkit-box-shadow: 3px 4px 1px 2px #565656
$box-shadow: 3px 4px 6px 2px #565656

.titlebar-drag-region 
  top: 6px
  left: 6px
  display: block
  position: absolute
  width: calc(100% - 12px)
  height: calc(100% - 6px)
  z-index: -1
  -webkit-app-region: drag


.title-bar 
  display: flex
  height: 30px
  border: 1px solid gray
  align-items: center
  position: relative  /*added*/
  /*-webkit-app-region: drag;*/  /*removed*/


.title 
  margin-left: 10px


.title-bar-btns 
  margin-left: auto
  -webkit-app-region: no-drag


#App 
  background-color: #ffffff
  color: black
  margin: 0
  padding: 0
  font-family: 'Roboto', sans-serif
  letter-spacing: 1px
  display: grid
  grid-template-columns: 5fr 5fr
  grid-template-rows: 0.5fr 3fr 3fr
  grid-template-areas: "- -" "main main" "main main"
  width: 100%
  height: 100vh
  

html 
  width: 100%
  height: 100%
  margin: 0
  padding: 0


body 
  margin: 0
  padding: 0
  height: 100%
  box-sizing: border-box
  overflow: hidden


/* to be used in all components */
.uri 
  grid-area: uri
  display: flex
  justify-content: center
  align-items: center


/*/////////////////////////////////////////////////////*/
/*/////////////////////// Home ////////////////////////*/
/*/////////////////////////////////////////////////////*/

$input-height: 200px

#home 
  grid-area: main
  display: grid
  flex-direction: column
  grid-template-columns: 50% 50%
  grid-template-rows: 10% 55% 20%
  justify-content: center
  align-items: center
  padding-top: 10rem
  grid-template-areas: "welcome welcome" "new previous" "connect connect"
  
  header
    grid-area: welcome
    text-align: center

#new-inputs  
  grid-area: new
  height: $input-height
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin-left: 2rem
  padding-bottom: 2rem

.prompt 
  display: flex
  justify-content: center
  align-items: center

#home-uri 
  padding: 0.5rem
  width: 70%
  border-radius: 1rem
  // border-style: double
  border: 1px solid gainsboro

#previous-inputs
  grid-area: previous
  height: $input-height
  display: flex
  flex-direction: column
  // grid-template-rows: 4fr 1fr
  justify-content: center
  align-items: center
  padding-bottom: 2rem
  margin-right: 2rem
  border-left: 2px dashed lightgray

#uris
  padding: 0.5rem
  border-radius: 1rem
  background-color: white
  border: 1px solid gainsboro
  width: 70%

  
  option:first-child
    display: none


// button and connected message
#submit-connect
  grid-area: connect
  display: grid
  grid-template-rows: 1fr 1fr
  justify-content: center
  align-items: center

#home-send 
  padding: 0.5rem 0.9rem
  margin-top: 1rem
  letter-spacing: 1.5px

#connected-div 
  color: rgb(191, 0, 0)
  display: flex
  justify-content: center
  align-items: center
  // border: 2px solid blue

#connected-text 
  // margin-top: 2rem
  display: none

/*/////////////////////////////////////////////////////*/
/*///////////////////// Nav Bar ///////////////////////*/
/*/////////////////////////////////////////////////////*/
#nav-bar 
  grid-area: nav
  padding: 0rem
  margin-left: 1rem
  /* border: 2px dashed red; */


#nav-list 
  list-style-type: none
  margin: 0
  padding: 10px 0 0 0
  /* border: 2px dotted red; */


.nav-list-item 
  text-decoration: none


/* .nav-list-item a { */
  /* display: block; */
  /* padding: 1rem 0; */
  /* color: white; */
/* } */

/* .nav-list-item a:hover { */
  /* cursor: pointer; */
/* } */

#dark-switch 
  margin: 1rem 0 0 1rem


/*/////////////////////////////////////////////////////*/
/*//////////////////// Dashboard //////////////////////*/
/*/////////////////////////////////////////////////////*/

#dashboard 
  /* border: 5px dotted black; */
  grid-area: main
  padding: 2rem
  // margin: 1rem
  display: grid
  grid-template-columns: 33% 33% 33%
  grid-template-rows: 10% 48% 48%
  grid-template-areas: "uri uri uri" "one two stats" "three three stats"


#line-chart 
  width: 100%
  height: 100%

#top-left 
  display: flex
  justify-content: center
  align-items: center
  grid-area: one
  // /* width: 100%;
  // height: 100%; */


#top-mid 
  grid-area: two
  display: flex
  justify-content: center
  align-items: center


#bottom
  grid-area: three
  display: flex
  justify-content: center
  align-items: center


#left
  grid-area: stats
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  // border: 1px solid black

.dashboard-stats
  // border: 2px solid blue
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin: 1rem

.dash-title
  font-color: red

.dash-num
  background-color: lightgray
  border: 1px solid lightgray
  border-radius: 40px
  width: 250px
  text-align: center
  
  h1
    padding: 0
    margin: 1rem 4rem


/*/////////////////////////////////////////////////////*/
/*/////////////////// Test Query //////////////////////*/
/*/////////////////////////////////////////////////////*/

#test-query 
  grid-area: main
  padding: 2rem
  // margin: 1rem
  display: grid
  grid-gap: 1rem
  grid-template-columns: 30% 70%
  grid-template-rows: 10% 35% 50%
  grid-template-areas: "uri uri" "input stats" "input chart"

  h2
    border-right: 1px solid black
    padding-right: 2rem

#queries-list
  padding: 0.5rem 1rem
  margin-left: 2rem

#query-space 
  border: none
  grid-area: input
  display: grid
  grid-template-rows: 4fr 0.5fr 0.5fr
  -webkit-box-shadow: $webkit-box-shadow
  box-shadow: $box-shadow
  border-radius: .3rem

#text-area 
  padding: 1rem
  border-radius: .3rem

#uri-name
  text-align: center

#stats 
  grid-area: stats
  -webkit-box-shadow: $webkit-box-shadow
  box-shadow: $box-shadow
  display: flex
  flex-direction: row
  justify-content: space-evenly
  align-items: center
  border-radius: .3rem



.category 
  display: grid
  grid-template-rows: 50% 50%
  justify-content: center


#failure 
  border-left: 2px dashed black
  border-right: 2px dashed black
  padding: 8px


.category-title 
  margin: 1rem 0
  font-weight: 900
  text-align: center


.category-number 
  margin: 1rem 0
  font-size: 2rem
  text-align: center



#response-chart 
  grid-area: chart
  display: flex
  justify-content: center
  align-items: center
  /* border: 2px dashed red; */
  -webkit-box-shadow: $webkit-box-shadow
  box-shadow: $box-shadow
  border-radius: .3rem


/*/////////////////////////////////////////////////////*/
/*/////////////////// Load Testing ////////////////////*/
/*/////////////////////////////////////////////////////*/

#load-amount
  font-size: 2rem
  text-align: center



/*/////////////////////////////////////////////////////*/
/*//////////////// Previous Searches //////////////////*/
/*/////////////////////////////////////////////////////*/

#previous-searches 
  grid-area: main
  padding: 2rem
  // margin: 1rem
  overflow: scroll


#card
  width: 150px
  height: 200px
  border: 1px solid gray
  border-radius: .5rem
  padding: 0.5rem
  -webkit-box-shadow: $webkit-box-shadow
  box-shadow: $box-shadow
  background-color: rgb(255, 255, 255)
  user-select: none


#cards-list 
  display: flex
  flex-direction: row
  flex-wrap: wrap
  
  li 
    list-style-type: none
    margin: 0.6rem
    font-size: 0.8rem
  
