.titlebar-drag-region {  /*added*/
  top: 6px;
  left: 6px;
  display: block;
  position: absolute;
  width: calc(100% - 12px);
  height: calc(100% - 6px);
  z-index: -1;
  -webkit-app-region: drag;
}

.title-bar {
  display: flex;
  height: 30px;
  border: 1px solid gray;
  align-items: center;
  position: relative;  /*added*/
  /*-webkit-app-region: drag;*/  /*removed*/
}

.title {
  margin-left: 10px;
}

.title-bar-btns {
  margin-left: auto;
  -webkit-app-region: no-drag;
}

#App {
  background-color: #ebebeb;
  color: black;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-template-rows: 0.5fr 3fr 3fr;
  grid-template-areas:
    /* "header header header" */
    "- -"
    "main main"
    "main main";
  width: 100%;
  height: 100vh;
  }

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
  
/*/////////////////////////////////////////////////////*/
/*/////////////////////// Home ////////////////////////*/
/*/////////////////////////////////////////////////////*/

/* #header {
  grid-area: header;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
} */

#home {
  grid-area: main;
  display: grid;
  flex-direction: column;
  grid-template-rows: repeat(4, 4rem);
  justify-content: center;
  align-items: center;
  margin-top: 10rem
  /* grid-template-areas: 
    "one"
    "two"; */
}

#home-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  /* grid-area: one; */
}

#home-uri {
  padding: 0.5rem;
  /* margin-right: 1rem; */
  width: 150%;
}

#home-send {
  padding: 0.5rem 0.9rem;
  margin-top: 1rem;
}

#connected-div {
  color: rgb(191, 0, 0);
  /* display: none; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* grid-area: two; */
}

#connected-text {
  margin-top: 2rem;
  display: none;
}

/*/////////////////////////////////////////////////////*/
/*///////////////////// Nav Bar ///////////////////////*/
/*/////////////////////////////////////////////////////*/
#nav-bar {
  grid-area: nav;
  padding: 0rem;
  margin-left: 1rem;
  /* border: 2px dashed red; */
}

#nav-list {
  list-style-type: none;
  margin: 0;
  padding: 10px 0 0 0;
  /* border: 2px dotted red; */
}

.nav-list-item {
  text-decoration: none;
}

/* .nav-list-item a { */
  /* display: block; */
  /* padding: 1rem 0; */
  /* color: white; */
/* } */

/* .nav-list-item a:hover { */
  /* cursor: pointer; */
/* } */

#dark-switch {
  margin: 1rem 0 0 1rem;
}

/*/////////////////////////////////////////////////////*/
/*//////////////////// Dashboard //////////////////////*/
/*/////////////////////////////////////////////////////*/

#dashboard {
  /* border: 5px dotted black; */
  grid-area: main;
  padding: 1rem;
  margin: 1rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 15% 50% 50%;
  grid-template-areas:
    "header header"
    "one two"
    "three four";
}

#line-chart {
  width: 100%;
  height: 100%;
}

#top-left {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: one;
  /* width: 100%;
  height: 100%; */
}

#top-right {
  grid-area: two;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bottom-left {
  grid-area: three;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bottom-right {
  grid-area: four;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*/////////////////////////////////////////////////////*/
/*/////////////////// Test Query //////////////////////*/
/*/////////////////////////////////////////////////////*/

#test-query {
  grid-area: main;
  padding: 1rem;
  margin: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 30% 50%;
  grid-template-areas:
    "uri uri"
    "input runtime"
    "input chart"
}

#uri {
  grid-area: uri;
  display: flex;
  justify-content: center;
  align-items: center;
}

#uri-input {
  padding: 0.5rem;
  margin-right: 1rem;
  width: 78%;
}

#send-uri {
  padding: 0.5rem 0.9rem;
}

#query-space {
  /* border: 1px solid black; */
  grid-area: input;
  display: grid;
  grid-template-rows: 4fr 0.5fr;
  -webkit-box-shadow: 3px 4px 3px 2px rgba(5,5,5,5);
  box-shadow: 3px 4px 3px 2px rgba(5,5,5,5);
}

#text-area {
  padding: 1rem;
}

#response-time {
  grid-area: runtime;
  /* border: 2px dotted blue; */
  -webkit-box-shadow: 3px 4px 3px 2px rgba(5,5,5,5);
  box-shadow: 3px 4px 3px 2px rgba(5,5,5,5);  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#runtime-title {
  font-weight: 900;
}

#runtime-number {
  font-size: 4rem;
}

#response-chart {
  grid-area: chart;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px dashed red; */
  -webkit-box-shadow: 3px 4px 3px 2px rgba(5,5,5,5);
  box-shadow: 3px 4px 3px 2px rgba(5,5,5,5);
}

/*/////////////////////////////////////////////////////*/
/*//////////////// Previous Searches //////////////////*/
/*/////////////////////////////////////////////////////*/

#previous-searches {
  grid-area: main;
  padding: 1rem;
  margin: 1rem;
}